<!-- for debug <p>un fragment de page {{currentSpotDetail.id}}</p> -->
<p><b>{{currentSpotDetail.name}}</b></p>
<p><b>Zone</b> : {{currentSpotDetail.zoneGeographique}}</p>
<p><b>description</b> : {{currentSpotDetail.description}}</p>

<p><b>Prof max</b> : {{currentSpotDetail.profondeurMax}}m</p>
<p><b>Zone d'interet</b> : {{currentSpotDetail.zoneInteret}}m</p>
<p><b>Classname</b> : {{currentSpotDetail.classname}}</p>

<p><b>icone</b> : {{currentSpotDetail.icone}}</p>

<md-button ng-click="closeDetail()">
    <!--<i class="material-icons">keyboard_arrow_left</i>--> < Retour
</md-button>