<!DOCTYPE html>
<html lang="fr" class="no-js">
    <head>
        <title>Spot My Dive</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
        <link rel="stylesheet" href="assets/css/app.css" >

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--
        <link rel="stylesheet" href="assets/css/avatars.css" >
        -->
    </head>

    <body ng-app="SpotMyDiveApp" ng-controller="SpotMyDiveCtrl">

        <!-- Toolbar for application title -->
        <div>
            <h1>
                <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                    <md-icon md-svg-icon="bower_components/angular-material/demos/toolbar/demoBasicUsage/img/icons/menu.svg"></md-icon>
                </md-button>
                Spot my dive
            </h1>
        </div>
        <div layout="row" flex>
            <!-- la sidebar de gauche du menu -->
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                <!-- <h2 class="md-title">Liste des spots</h2> -->
                <h2>Critères de sélection</h2>

                <!-- md-raised, md-fab
                <md-button class="md-raised md-primary" ng-click="toggleSidenav('left')">
                    toto
                </md-button>
                  -->
                <md-checkbox ng-model="deepLimits.deepLowerThan20" aria-label="Checkbox 1">
                    Spots 0 à 20m
                </md-checkbox>
                <md-checkbox ng-model="deepLimits.deep20To40" aria-label="Checkbox 1">
                    Spots de 20 à 40m
                </md-checkbox>
                <md-checkbox ng-model="deepLimits.deep40To60" aria-label="Checkbox 1">
                    Spots de 40 à 60m
                </md-checkbox>

                <br />
                <br />
                <br />
                <!-- why this md-select doesn't allow to select a value on Android 4.3 ?
                <md-select placeholder="Zone géographique" ng-model="currentActiveZone">
                    <md-option ng-repeat="zone in zones" value="{{zone}}">{{zone}}</md-option>
                </md-select>
                -->
                <md-list>

                    <md-list-item  ng-repeat="zone in zones">
                        {{zone}}
                    </md-list-item>
                </md-list>

                <br />
                <br />
                <br />

                <md-switch ng-model="criteria.modePresentation" aria-label="Switch mode présentation" ng-true-value="'Liste'" ng-false-value="'Carte'" class="md-warn">
                    Présentation : {{ criteria.modePresentation }}
                </md-switch>

                <br />
                <br />
                <br />

                <md-button ng-click="validerCriterias()">Valider</md-button>

            </md-sidenav>
        </div>

        <md-content>
            <!--<md-content style="height: 600px;">-->
            <div ng-show="isModeListe()">
                <md-list>

                    <md-list-item  ng-repeat="oneSpot in spots">
                        <p><h3>{{oneSpot.name}}</h3> <br/>
                            Prof max : {{oneSpot.profondeurMax}}, Zone : {{oneSpot.zoneGeographique}}, GPS : {{oneSpot.GPS.WGS84}}</p>
                        <md-button ng-click="spotDetail(oneSpot)">
                            <!-- <md-icon md-svg-icon="bower_components/angular-material/icons/ic_info_black_24px.svg"></md-icon> -->
                            >
                        </md-button>
                        <!-- <md-divider ></md-divider> -->
                        <!--


                        <div layout="row">
                            <div flex="70">
                                <h2>{{oneSpot.name}}</h2>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="70">
                                Prof max : {{oneSpot.profondeurMax}}, Zone : {{oneSpot.zoneGeographique}}, GPS : {{oneSpot.GPS.WGS84}}
                            </div>
                            <div flex="15">
                                <md-button ng-click="spotDetail(oneSpot,$event)">
                                    <md-icon md-svg-icon="bower_components/angular-material/icons/ic_info_black_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>
                        -->

                        <!-- <md-divider ></md-divider> -->


                        <!--
              class="md-raised md-primary"
              class="md-raised md-warn -->
                        <!--
                            <p ng-if="oneSpot.icone=='tombant-40-60'" style="width: 100%;">
                          <p>{{oneSpot.name}}</p>
                          <p>Prof max : {{oneSpot.profondeurMax}}m</p>
                          <p class="md-caption">
                            {{oneSpot.zoneGeographique}} ({{oneSpot.GPS.WGS84}})
                          </p>
                            </p>
                -->


                    </md-list-item>

                </md-list>
            </div>
            <div ng-show="!isModeListe()">
                <div id="map-canvas"></div>
            </div>
        </md-content>

    <!--
        <md-toolbar layout="row" md-scroll-shrink="">
            <div class="md-toolbar-tools">

                <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                    <md-icon md-svg-icon="bower_components/angular-material/demos/toolbar/demoBasicUsage/img/icons/menu.svg"></md-icon>
                </md-button>
                <h3>
                    <span>Spot my dive</span>
                </h3>
            </div>
        </md-toolbar>
        -->

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>

        <script src="assets/javascripts/app.js"></script>
        <script src="assets/javascripts/smdControllers.js"></script>
        <script src="assets/javascripts/smdService.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1xMYT1bt99qtFWQEzXiRBvORDWHgPtk&libraries=places"></script>

        <script type="text/javascript" src="cordova.js"></script>

    </body>
</html>
